<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCTV | <%= date %></title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📽️</text></svg>">

    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div id="main-content">
        <h1>Recordings of <%= date %></h1>
        <% for (const recording of recordings) { %>
            <div>
                <a href="/video/<%= date %>:<%= recording %>">
                    <%= recording %>
                </a>
            </div>
        <% } %>
        <h1>MP4 Video Example</h1>
        <video class="" autoplay="" playsinline="true" webkit-playsinline="true" x5-playsinline="true" tabindex="2" mediatype="video" src="blob:http://192.168.178.101/4ea924a2-0541-4fa4-a346-1cf5cf5a0388" style="width: 353px; height: 789px;"></video>
        <video controls autoplay="true">
            <!-- 19.07.2023.03.10.38.mp4 -->
            <source src="/video/2023.07.19/output.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
          
    </div>
</body>
</html>