<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCTV | <%= date %></title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📽️</text></svg>">

    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div id="main-content">
        <h1>Recordings of <%= day %> the <%= date %></h1>
        <div class="recordings">
            <% for (const recording of recordings) { %>
                <button class="recording" onclick="setVideo('<%= recordingPath %>/<%= recording %>')">
                    <%= recording %>
                </button>
            <% } %>
        </div>
        <video id="mainVideo" controls autoplay="true" style="display: none;">
            <!-- 19.07.2023.03.10.38.mp4 -->
            <source id="mainVideoSource" src="" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</body>

<script>
    const mainVideoSource = document.getElementById('mainVideoSource');
    const videoElement = document.getElementById('mainVideo');

    function setVideo(src) {
        mainVideoSource.src = src;
        videoElement.load();
        videoElement.style.display="";
        if (videoElement.requestFullscreen) {
            videoElement.requestFullscreen();
        } else if (videoElement.mozRequestFullScreen) { // Firefox
            videoElement.mozRequestFullScreen();
        } else if (videoElement.webkitRequestFullscreen) { // Chrome, Safari, Edge
            videoElement.webkitRequestFullscreen();
        } else if (videoElement.msRequestFullscreen) { // Internet Explorer
            videoElement.msRequestFullscreen();
        } else {
            console.error('Fullscreen not supported.');
        }
    }
</script>
</html>